/* here you can put your own css to customize and override the theme */

/* VARIABLES */
$black:         #000000;
$dark-gray:     #333333;
$gray:          #666666;
$light-gray:    #999999;
$silver:        #cccccc;
$platinum:      #E6E6E6;
$titanium:      #f2f2f2;
$smoke:         #f6f6f6;
$white:         #ffffff;

$green:         #5b8300;
$lime:          #7DBB58;

body {
    font-family: 'Montserrat', sans-serif;
    color: $gray;
    font-weight: 300;
}

/* HEADER */
.page-header.navbar {
    border-bottom: 1px solid $silver;
    height: 70px;
    min-height: 70px;

    .page-logo {
        display: none;
    }
}

.page-header-fixed .page-container {
    margin-top: 70px;
}

.sisectorial-logo {
    float: left;
    display: block;
    max-width: 404px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 9px;

    img {
        width: 100%;
    }
}
/* --- */

/* SIDEBAR */
.page-sidebar {
    text-align: center;

    .sidebar-toggler {
       background: $white;
       border: 1px solid $silver;
       width: 84%;
       margin: 30px 0 0;
       float: none;
       display: inline-block;
       padding: 0;
       border-radius: 15px !important;
       height: 30px;

        &:after {
            content: "\f100";
            font-family: FontAwesome;
            font-size: 24px;
            color: $lime;
            line-height: 26px;
        }

        &:hover {
            background: $titanium;
        }
    }
}

.page-sidebar .page-sidebar-menu, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    text-align: left;
}

.page-sidebar .page-sidebar-menu li > a > .arrow:before, 
.page-sidebar-closed.page-sidebar-fixed 
.page-sidebar:hover .page-sidebar-menu li > a > .arrow:before {
    content: "\f105";
    color: $light-gray;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, 
.page-sidebar .page-sidebar-menu > li > a {
    border-top: 1px solid $platinum;
    color: $light-gray;
    padding: 15px 10px;
    text-transform: uppercase;
}

.page-sidebar .page-sidebar-menu > li.active > a, 
.page-sidebar .page-sidebar-menu > li.active.open > a {
    background: $white;
    color: $lime;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a  {
    
    > .arrow:before, 
    > li.active > a > .arrow.open:before, 
    > li.active.open > a > .arrow:before, 
    > li.active.open > a > .arrow.open:before {
        color: $lime;
    }
}

.page-sidebar .page-sidebar-menu > li.active.open + li > a {
    border-top: 1px solid $platinum;
}

.page-sidebar .page-sidebar-menu > li > a > .arrow:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before {
    top: 12px;
}

.page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
    background: $dark-gray;
    color: $lime;
}

.page-sidebar .page-sidebar-menu > li.active > a > .selected {
    display: none;
}

.page-sidebar .page-sidebar-menu > li.active > a:hover, 
.page-sidebar .page-sidebar-menu > li.active.open > a:hover {
    background: $white;
}

.page-sidebar .page-sidebar-menu .sub-menu {
    margin: 0;

    li {
        background: $white;
        > a {
            color: $light-gray;
            background: $white;

            &:hover {
                background: $titanium !important;
                color: $lime;
            }
        }
    }
}
/* --- */

/* SIDEBAR SEARCH */
.sidebar-search-wrapper {
    font-weight: 300;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn > i, 
.page-sidebar .sidebar-search .input-group .input-group-btn .btn > i,
.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .remove > i, 
.page-sidebar-closed .page-sidebar .sidebar-search.open .remove > i {
    color: $lime !important;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed .sidebar-search.open .input-group {
    margin-left: 27px;
    border-top: 1px solid $platinum;
    border-right: 1px solid $platinum;
    border-bottom: 1px solid $platinum;
}
/* --- */

/* PAGE CONTENT */
.page-content {
    background: $titanium;
    /*-webkit-box-shadow: inset 35px 0px 28px -38px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 35px 0px 28px -38px rgba(0,0,0,0.75);
    box-shadow: inset 35px 0px 28px -38px rgba(0,0,0,0.75);*/
    border-left: 1px solid $platinum;
}

.page-content-white,
.page-container-bg-solid,
.page-content-white .page-content {

    .page-bar {
        background: transparent;
        border-bottom:none;
        margin: -5px -20px 0;
    
        .page-breadcrumb {
            padding: 0;
        }
    }
}

.page-content-white, 
.page-container-bg-solid {

    .page-title {
        color: $black;
        font-family: 'Montserrat', sans-serif;

        small {
            color: $light-gray
        }
    }
}
/* --- */

/* PORLET */
.portlet {
    border-radius: 20px !important;
}

.portlet.light {

    &.bordered>.portlet-title {
        border-bottom: 1px solid $silver;
    }
    
    >.portlet-title {

        >.tools>a.fullscreen {
            width: 13px;
            color: $lime;
        }
        
        >.caption {

            .tooltips {
                float: left;
                margin-left: 7px;

                i {
                    color: $black;
                }
            }
        
            >.caption-subject {
                text-transform: none !important;
                font-weight: 400 !important;
                float: left;
            }
        }
    }
}
/* --- */

/* BREADCRUMBS */
.page-content-white .page-bar .page-breadcrumb,
.page-container-bg-solid .page-bar .page-breadcrumb {

    > li > a {
        color: $lime;

        &:hover {
            opacity: 0.7;
            text-decoration: none;
        }
    }
}
/* --- */

/* PAGE FOOTER */
.page-footer {
    background-color: $gray;
    text-align: center;

    .page-footer-inner {
        float: none;
    }
}

.scroll-to-top > i {
    color: $dark-gray;
}
/* --- */



@media (max-width: 991px) {

    .page-sidebar {
        background: $smoke;

        .page-sidebar-menu {
            
            > li > a, {
                background: $titanium;
            }

            .sidebar-search input {
                background: $smoke !important;
            }
        }
    }
}