/* here you can put your own css to customize and override the theme */

.page-header.navbar {
    border-bottom: 2px solid #ccc;
    height: 70px;
    min-height: 70px;

    .page-logo {
        display: none;
    }
}

.page-header-fixed .page-container {
    margin-top: 70px;
}

.sisectorial-logo {
    float: left;
    display: block;
    width: 235px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.page-content {
    background: #f2f2f2;
    -webkit-box-shadow: inset 35px 0px 28px -38px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 35px 0px 28px -38px rgba(0,0,0,0.75);
    box-shadow: inset 35px 0px 28px -38px rgba(0,0,0,0.75);
}

.page-content-white,
.page-container-bg-solid,
.page-content-white .page-content {

    .page-bar {
        background: transparent;
        border-bottom:none;
        margin: -5px -20px 0;
    
        .page-breadcrumb {
            padding: 0;
        }
    }
}

.page-footer {
    background-color:  #666;
    text-align: center;

    .page-footer-inner {
        float: none;
    }
}