/* here you can put your own css to cutomize and override the theme */

@import '_variables'; // theme level variables 

body {
    font-family: 'Montserrat', sans-serif;
    color: $gray;
    font-weight: 300;
}

/* HEADER */
.page-header.navbar {
    border-bottom: 1px solid $silver;
    height: 70px;
    min-height: 70px;

    .page-logo {
        display: none;
    }
}

.page-header-fixed .page-container {
    margin-top: 70px;
}

.sisectorial-logo {
    float: left;
    display: block;
    max-width: 404px;
    height: auto;
    padding: 13px 20px;

    img {
        width: 100%;
    }
}

.page-header.navbar .menu-toggler.responsive-toggler {
    margin: 17px 6px 0 6px;
    background: $white;
    padding: 8px 9px 5px;
    border-radius: 50% !important; 
    border: 1px solid $silver;

    span,
    span:after,
    span:before {
        width: 15px;
        background: $lime;
    }

    &:hover,
    &:focus {
        background: $titanium;
    }
}

.page-header.navbar .top-menu {
    padding-right: 20px;

    .btn.btn-outline {
        text-transform: uppercase;
        font-size: 12px;
    }
}

.log-in, 
.min-logo{
    float:left;
}

.log-in {
    padding-top: 20px;
}

.min-logo{
    padding: 11px 20px 11px 0;
}
/* --- */

/* SIDEBAR */
.page-sidebar {
    text-align: center;

    .sidebar-toggler {
       background: $white;
       border: 1px solid $silver;
       width: 84%;
       margin: 20px 0;
       float: none;
       display: inline-block;
       padding: 0;
       border-radius: 15px !important;
       height: 30px;

        &:after {
            content: '';
            background-image: url('../img/arrow-menu.png');
            width: 17px;
            height: 26px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position-y: 50%;
        }

        &:hover {
            background: $titanium;
        }
    }
}

.page-sidebar .page-sidebar-menu, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    text-align: left;
}

.page-sidebar .page-sidebar-menu li > a > .arrow:before, 
.page-sidebar-closed.page-sidebar-fixed 
.page-sidebar:hover .page-sidebar-menu li > a > .arrow:before {
    content: "\f105";
    color: $light-gray;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, 
.page-sidebar .page-sidebar-menu > li > a {
    border-top: 1px solid $platinum;
    color: $light-gray;
    padding: 15px 10px;
    text-transform: uppercase;
}

.page-sidebar .page-sidebar-menu > li.active > a, 
.page-sidebar .page-sidebar-menu > li.active.open > a {
    background: $white;
    color: $lime;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a  {
    
    > .arrow:before, 
    > li.active > a > .arrow.open:before, 
    > li.active.open > a > .arrow:before, 
    > li.active.open > a > .arrow.open:before {
        color: $lime;
    }
}

.page-sidebar .page-sidebar-menu > li.active.open + li > a {
    border-top: 1px solid $platinum;
}

.page-sidebar .page-sidebar-menu > li > a > .arrow:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before {
    top: 12px;
}

.page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
    background: $dark-gray;
    color: $lime;
}

.page-sidebar .page-sidebar-menu > li.active > a > .selected {
    display: none;
}

.page-sidebar .page-sidebar-menu > li.active > a:hover, 
.page-sidebar .page-sidebar-menu > li.active.open > a:hover {
    background: $white;
}

.page-sidebar .page-sidebar-menu .sub-menu {
    margin: 0;

    li {
        background: $white;
        > a {
            color: $light-gray;
            background: $white;

            &:hover {
                background: $titanium !important;
                color: $lime;
            }
        }
    }
}
/* --- */

/* MENU ICONS */
.page-sidebar .page-sidebar-menu > li  {

    i {
        background-image: url('../img/icons_menu.png');
        width: 16px;
        height: 16px;
        margin-top: 1px;
        float: left;

        &.icon-home {
            background-image: none;
        }
    }

    &.abastecimiento {

        i {
            background-position-y: -16px;
        }
    }

    &.insumos {
        i {
            background-position-y: -32px;
        }
    }

    &.comercio-exterior {
        i {
            background-position-y: -48px;
        }
    }

    &.financiamiento {
        i {
            background-position-y: -64px;
        }
    }

    &.vivienda-rural {
        i {
            background-position-y: -80px;
        }
    }

    &.open {

        i {
            background-position-x: -16px;
        }
    }
}

.page-sidebar .page-sidebar-menu > li > a > i,
.page-sidebar .page-sidebar-menu > li > a > [class^="icon-"] {
    margin-right: 7px;
}
/* --- */

/* SIDEBAR SEARCH */
.sidebar-search-wrapper {
    font-weight: 300;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn > i, 
.page-sidebar .sidebar-search .input-group .input-group-btn .btn > i,
.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .remove > i, 
.page-sidebar-closed .page-sidebar .sidebar-search.open .remove > i {
    color: $lime !important;
    background-image: none;
    width: auto;
    height: auto;
    margin-top: 0;
    float: none;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed .sidebar-search.open .input-group {
    margin-left: 27px;
    border-top: 1px solid $platinum;
    border-right: 1px solid $platinum;
    border-bottom: 1px solid $platinum;
}
/* --- */

/* REDES SOCIALES */
.redes-sociales {
    p {
        margin: 10px 0;
        color: $light-gray;
    }

    ul{
        list-style:none;
        padding: 0;
        margin: 0 30px;
        text-align: center;

        li {
            display: inline-block;
            margin: 5px 7px;

            a {
                background-image: url('../img/redes.png');
                width: 22px;
                height: 22px;
                float: left;

                &:hover,
                &:focus {
                    opacity: .7;
                }

                &.instagram {
                    background-position-y: -22px;
                }

                &.twitter {
                    background-position-y: -45px;
                }

                &.linkedin {
                    background-position-y: -68px;
                }

                &.googgle-plus {
                    background-position-y: -90px;
                }

                &.youtube {
                    background-position-y: -113px;
                }

                &.flickr {
                    background-position-y: -136px;
                }
            }
        }
    }
}
/* --- */

/* PAGE CONTENT */
.page-content {
    background: $titanium;
    /*-webkit-box-shadow: inset 35px 0px 28px -38px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 35px 0px 28px -38px rgba(0,0,0,0.75);
    box-shadow: inset 35px 0px 28px -38px rgba(0,0,0,0.75);*/
    border-left: 1px solid $platinum;
}

.page-content-white,
.page-container-bg-solid,
.page-content-white .page-content {

    .page-bar {
        background: transparent;
        border-bottom:none;
        margin: -5px -20px 0;
    
        .page-breadcrumb {
            padding: 0;
        }
    }
}

.page-content-white, 
.page-container-bg-solid {

    .page-title {
        color: $black;
        font-family: 'Montserrat', sans-serif;

        small {
            color: $light-gray
        }
    }
}

.page-content-wrapper .page-content .page-title small {
    padding-top: 7px;
}
/* --- */

/* PORLET */
.portlet {
    border-radius: 20px !important;
}

.portlet.light.bordered {
    border: 1px solid $mercury !important;
}

.portlet.light {

    &.bordered>.portlet-title {
        border-bottom: 1px solid $silver;
    }
    
    >.portlet-title {

        >.tools {
            padding-bottom: 0;

            >a.fullscreen {
                width: 13px;
                color: $lime;
            }
        }
        
        >.caption {

            > .caption-subject {
                display: inline;
                float: none;
                text-transform: none !important;
                font-weight: 400 !important;
            }

            .tooltips {

                i {
                    color: $black;
                    display: inline;
                    float:none;
                    font-size: 15px;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .portlet-footer {
        border-top: 1px solid $platinum;
        padding-top: 15px;
        text-align: right;
        margin-top: 15px;

        .btn.btn-outline.default {
            font-size: 12px;

            i {
                background: url('../img/arrow-buttons.png');
                width: 7px;
                height: 16px;
                float: right;
                background-repeat: no-repeat;
                background-position-y: 50%;
                margin-left: 5px;
            }
        }
    }
}
/* --- */

/* BREADCRUMBS */
.page-content-white .page-bar .page-breadcrumb,
.page-container-bg-solid .page-bar .page-breadcrumb {

    > li > a {
        color: $lime;

        &:hover {
            color: $lime-light;
            text-decoration: none;
        }
    }
}
/* --- */

/* BTN */
.btn {

    &.green,
    &.green:not(.btn-outline) {
        background: $lime;
        border-color: $lime;

        &:hover {
            background: $green;
            border-color: $green;
            
        }
    }

    &.btn-outline{
        border-radius: 40px !important;

        &.default {
            color: $lime;
            border-color: $silver;

            &.active, 
            &:active, 
            &:active:focus, 
            &:active:hover, 
            &:focus, 
            &:hover {
                background: $titanium;
                border-color: $silver;
                color: $lime;
            }
        }

        &.green{
            border-color: $lime;
            color: $lime;

            &.active, 
            &:active, 
            &:active:focus, 
            &:active:hover, 
            &:focus, 
            &:hover {
                background: $lime;
                border-color: $lime;
            }
        }
    }
}
/* --- */

/* TABS */
.nav-tabs {
    border-bottom: 1px solid $silver;
    font-weight: 400;

    >li {

        a {
            color: $lime;

            &:focus, &:hover {
                background: transparent;
                border-color: transparent;
                color: $lime-light;
            }
        }

        &.active>a, 
        &.active>a:focus,
        &.active>a:hover {
            color: $dark-gray;
            background-color: transparent;
            border-left: 1px solid $silver;
            border-right: 1px solid $silver;
            border-top: 1px solid $silver;
            border-bottom: 1px solid $titanium;
            border-radius: 13px 12px 0 0 !important;
        }
    }
}
/* --- */

/* PAGE FOOTER */
.page-footer {
    background-color: $gray;
    text-align: center;

    .page-footer-inner {
        float: none;
    }
}

.scroll-to-top > i {
    color: $dark-gray;
}
/* --- */




@media (max-width: 934px) { 

    .page-header.navbar .top-menu {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .log-in, .min-logo {
        float: none;
        display: inline-block;
    }

    .page-content {
        border-top: 1px solid $platinum;
    }
} 




@media (max-width: 991px) {

    .page-sidebar {
        background: $smoke;

        .page-sidebar-menu {
            
            > li > a, {
                background: $titanium;
            }

            .sidebar-search input {
                background: $smoke !important;
            }
        }
    }
}




@media (max-width: 489px) {

    .page-header.navbar {
        height: 100px;
        min-height: 51px;
        border-bottom: none;
        padding: 0;
    }

    .page-header.navbar .menu-toggler.responsive-toggler {
        margin-top: 8px;
        margin-right: 16px;
    }

    .sisectorial-logo {
        max-width: 219px;
        padding: 13px 10px 13px 15px;
    }

    .page-header.navbar .top-menu {
        float: right;
        border-top: 1px solid $silver;
    }

    .min-logo {
        width: 150px; 
        padding-right: 10px;

        img {
            width: 100%;
        }
    }

    .log-in {
        padding-top: 0;
    }

    .page-footer {
        font-size: 11px;
    }
}



@media (min-width: 992px) {

    .page-sidebar-closed  {

        .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a {
            padding-left: 14px;
            padding-bottom: 10px;
        }

        .page-sidebar-menu > li i {
            float: none;
            display: inline-block;
            margin-top: 0;
        }

        .redes-sociales {
            display: none;
        }
    }
}