@import '../global/_variables'; // global variables.
@import '../global/components/_mixins'; // global mixings.

@import '../layouts/layout/_variables'; // theme level variables 

/* 
Search Page
***/

// BEGIN : GENERAL SEARCH CLASSES
.search-page{

	// BEGIN : BORDER CONTAINERS
	.bordered{
		border:1px solid;
		border-color: $silver;
	}
	// END : BORDERED CONTAINERS

	// BEGIN: SEARCH BAR
	.search-bar{
		margin-bottom: 30px;

		input{
			background-color: $white;
			height:55px;
			border: 1px solid $mercury !important;
			border-radius: 20px 0 0 20px !important;
			color: $gray;
		}

		button{
			color: $white;
			height:55px;
			width: 130px;
			margin-left: -3px;
			border-radius: 0 20px 20px 0 !important;
		}

		.search-desc{
			margin:0;
			color:#a0a9b4;
			font-size: 13px;
		}
	}
	// END : SEARCH BAR

	// BEGIN: SEARCH FILTER 
	.search-filter{
		background-color:#fff;
		padding:40px 30px 0 30px;
		margin-bottom: 30px;

		>.search-label{
			color:#a0a9b4;
			font-size: 11px;
			letter-spacing: 1px;
			font-weight: 700;
			margin-bottom: 10px;
			margin-top: 40px;

			&:first-child{
				margin-top: 0;
			}
		}

		input,
		select{
			color:#727f89;
			font-weight: 700;
			font-size: 14px;
		}

		button{
			margin: 40px 0;
			padding:15px 0;
		}

		.search-filter-divider{
			display:block;
			height:1px; 
		}
	}

	// END : SEARCH FILTER


	// BEGIN : SEARCH PAGINATION 
	.search-pagination{
		text-align:center;

		> .pagination{

			> li{

				>a{
					margin:0 3px;
					border:none;
					background:$white;
					color: $light-gray;
					border: 1px solid $silver;
					border-radius: 50% !important;

					&:hover{
						text-decoration: none;
						color: $lime;
						background-color: $titanium;
					}
				}
			}

			> .page-active{
				
				>a{
					background-color: $lime;
					color: $white;
					border-color: $lime;
				}
			}
		}

		&.pagination-rounded{

			> .pagination{
				
				>li{

					>a{
						border-radius: 50% !important; 
					}
				}
			}
		}
	}

	// END : SEARCH PAGINATION
}
// END : GENERAL SEARCH CLASSES


// SEARCH PAGE 2 & 3
.search-content-2{

	.search-container{
		background-color: $white;
		border-radius: 20px !important;
		border: 1px solid $mercury;
		margin-bottom: 20px;

		>ul{
			padding:20px;
			margin-bottom: 0;

			>.search-item-header{
				list-style: none;
				padding:0 0 5px 0;
				border-bottom: 1px solid;
				border-color: #f4f6f8;

				h3{
					font-size:17px;
					color:#a0a9b4;
					margin:5px 0 0 0;		
				}
			}

			.search-item{
				list-style: none;
				padding-left:15px;
				margin-bottom: 20px;
				border-left: 1px solid $silver;

				&.destacado {
					border-top: 1px solid $silver;
					margin:20px 0;
					padding-top: 20px;
					border-left: 0;
					padding-left: 0;

					.custom-icon-search {
						background: url("../../layouts/layout/img/icon_search.png");
						background-repeat: no-repeat;
						background-position-x: 50%;
						background-position-y: 50%;
						width: 60px;
						height: 60px;
						border-radius: 50% !important;
						border: 1px solid $silver;
						float: left;
						margin-right: 10px;
					}

					>.search-content{

						.search-title{
							font-weight: 600;

							a {
								line-height: 24px;

								span {
									margin-right: 10px;
								}
							}

							.tag {
								border: 1px solid $silver;
								text-transform: uppercase;
								color: $silver;
								border-radius: 20px !important;
								padding: 3px 7px;
							    font-size: 11px;
							    font-weight: 300;
							    margin-right: 0;
							}
						}
					}

					&:first-child {
						border-top: none;
						margin-top: 0;
						padding-top: 0;
					}
				}

				>.search-content{

					p{
						margin:0;
					}

					.search-title{
						font-size: 16px;
						margin:0 0 15px 0;
						font-weight: 400;

						> a{
							color:$lime;

							&:hover{
								text-decoration: none;
								color:$lime-light;
							}
						}
					}

					.search-desc{
						font-size: 12px;
						color: $gray;

						> a{
							color:#49a7fa;

							&:hover{
								text-decoration: none;
								color:#326b9e;
							}
						}
					}

					.search-counter-number,
					.search-counter-label{
						text-align: center;
					}

					.search-counter-number{
						font-size: 21px;
						color:#4e5a64;
						margin-bottom: 15px;
					}

					.search-counter-label{
						font-size: 13px;
						color:#8b96a4;
					}

				}
			}
		}
	}

	.recomendaciones {

		.description-help {
			font-weight: bold;
			margin-bottom: 20px;
		}

		.number-expl {
			color: $light-gray;
			font-size: 12px;
			padding: 10px 0;
			float: left;
			width: 100%;

			.number {
				float: left;
				border: 1px solid $light-gray;
				border-radius: 50% !important;
				padding: 3px 9px;
				color: $silver;
				font-weight: 600;
				margin-right: 10px;
				margin-bottom: 10px;
				font-size: 18px;
				width: 33px;
				height: 33px;
				text-align: center;
			}
		}
	}

}


// END

// MOBILE

@media (max-width:1024px){
	.search-content-4{
		.search-bar{

			.extra-buttons{
				margin-top:30px;
			}
		}

		.search-table{
			th, td{
				vertical-align: top;
			}

			.table-date{
				width:auto;
			}

			.table-title{
				width:auto;
			}
		}
	}
}

@media (max-width:991px){

	.search-bar{
		.search-desc{
			margin-top:20px !important;	
		}
	}

	.search-pagination{
		margin-bottom: 40px;
	}

	.search-content-2{

		.search-container{

			.search-item{
			
				>.search-content{

					&.text-left{
						text-align: left;
					}

					.search-desc{
						
					}
				}
			}
		}
	}
} 

@media (max-width: 767px){
	.search-content-2{

		.search-container{

			.search-item{
			
				>.search-content{
					text-align: center;
					
				}
			}
		}
	}
}



